<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-button>Goals</ion-button></ion-buttons>
    <ion-title>
      Test
    </ion-title>
    <ion-buttons slot="end"><ion-button>Menu</ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div id="totalprogressbox">
      <h1>Total Progress: </h1>2
    </div>
    <br>

    <div id="recentprogressbox">
      <h1>Recent Progress: </h1>1
    </div>

  </div>
</ion-content>
